<div class="container-fluid">
  <div class="row flex-nowrap" >
    <div class="col-sm-2 bg-dark">

      <div id="sidebar" class="collapse collapse-horizontal show border-end">
        <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">

          <a class="list-group-item border-end-0 d-inline-block text-truncate " class="button btn btn-dark"
            data-bs-parent="#sidebar"><i class="bi bi-bootstrap "></i><i class='fa fa-tasks' style='color: white '></i>
            <span (click)="survilanceNonView()">
              My Tasks</span> </a>

          <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" class="button btn btn-dark"
            data-bs-parent="#sidebar"><i class="bi bi-film"></i><svg xmlns="http://www.w3.org/2000/svg" width="16"
              height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
              <path
                d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
            </svg> <span (click)="survilanceView()"> Surveillance View</span></a>

        </div>
      </div>
    </div>

    <!-- -------------------------------------------------------------------side nav -->

    <div class="row">
      <div class="col-12" style="background-color: black;">
        <div *ngIf="flagvalue" class="row">
          <div style="display:flex; align-items: center;">
            <div style="display: block; color: white;">
              <h6>Facility:</h6>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Facility:
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                  <li *ngFor="let i of facilityData"><a class="dropdown-item active" href="#"
                      (click)="setSelectedFacility(i.id)">{{i.facility}}</a></li>
                </ul>
              </div>
            </div>
            <div style="display: block; color: white;margin-left: 1rem;">
              <h6>Unit:</h6>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Unit:
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                  <li *ngFor="let i of unitData"><a class="dropdown-item active" href="#"
                      (click)="showPatientDetailes(i.id,i.bed)">{{i.unit}}</a></li>
                </ul>
              </div>
            </div>
            <!-- -----------------------------------------------------------------------------------Dropdown---- -->
            
              <div *ngFor="let i of patientData" class="card crd">
                <span class=" text-white position-absolute top-0 start-0 translate-middle badge rounded-circle bg-info"
                  style="color: aqua; ">
                  <!-- 99 -->
                  <span class="visually-hidden">unread messages</span>
                </span>
                <div class="card-body card-title rounded-0">
                  <div class="card-title">
                    <div class="padding-left">NAME:<p style="display: inline;">{{i.name}}</p>
                    </div>
                    <div class="row sub">
                      <div class="col-5 mb-2">MRN:{{i.mrn}}</div>
                      <div class="col">GENDER:{{i.gender}}</div>
                      <div class="col">AGE:{{i.age}}</div>
                      <div class="col">HR:{{i.hr}}</div>
                    </div>
                  </div>
                </div>

                <div class="card-header subdiv">
                  <div class="row">
                    <div class="col-6">LOS:{{i.los}}</div>
                    <div class="col-6">SB:{{i.sb}}</div>
                    <div class="col-6">SBP:{{i.sbp}}</div>
                    <div class="col-6">TC:{{i.tc}}</div>
                  </div>
                </div>
              </div>
            </div>
            <!--------------------------------------------------------------------------------Card-- -->
            <div *ngIf="bedValue" id="btn"><br>
              <h6 class="text-light">Empty Beds:{{emptyBeds}}</h6>
              <br>
              <button *ngFor="let i of [].constructor(emptyBeds); let index = index;" type="button" class="butn btn btn-outline-info btn-md disabled"><b>{{index+1}}</b></button>
            </div>
            
              
          
          </div>
        </div>
      </div>
    </div>


    <!-- ----------------------------------------------------------------------------------Button-- -->